h1,h2
{
color:#A4A400;
background-color:#F0F0F0;
font-family:"Lucida Sans Unicode", "Helvetica", "Arial", san-serifs;
text-decoration:underline;
letter-spacing:0.25em;
display:inline;
}
#title
{
margin-left:auto;
margin-right:auto;
width:60%;
}
h1
{
text-align:center;
font-weight:bold;
font-size:22pt;
}
h2
{
font-size:18pt;
}
a
{
color:#A4A400;
}
body
{
color:#404040;
font-size:11pt;
font-family: "Georgia", "Garamond",serif;
}
pre
{
font-family:monospace;
}
body
{
background-image:url('http://54.152.52.180/silverware.jpg');
}
ul
{
list-style-image:url('http://54.152.52.180/pie-icon.gif');
}
blockquote
{
background-color:#FFFFA8;
font-style:italic;
}






