body
{
background:url('moviebg.png');
font-size:8pt;
font-family:'Verdana', 'Tahoma', sans-serif;
margin:0px;
padding:0px;
}
#banner
{
background-image:url('rancidbannerbg.png');
position:fixed;
top:0px;
width:100%;
}
#movietitle
{
font-size:24pt;
font-family:'Tahoma', 'Verdana', sans-serif;
text-shadow: 3px 3px #999999;
margin-left:auto;
margin-right:auto;
width:33%;
margin-top:72px;
}
#main
{
width:800px;
margin-left:auto;
margin-right:auto;
border-style:solid;
border-color:gray;
border-width:4px;
overflow:hidden;
}
#leftbanner
{
background-image:url("rottenlargebg.png");
color:red;
font-size:48pt;
font-weight:bold;
vertical-align:bottom;
}
#range
{
font-size:8pt;
color:white;
}
#leftbanner img
{
vertical-align:bottom;
}
.review
{
float:left;
width:47%;
margin-bottom:20pt;
margin-right:2%;
}
.reviewodd
{
float:left;
clear:left;
width:47%;
margin-bottom:20pt;
margin-right:2%;
}
.reviewcontent
{
font-weight:bold;
font-size:8pt;
border-style:solid;
border-color:gray;
border-width:2px;
background-color:#E8DC9B;
padding:8px;
overflow:hidden;
border-radius:20px;
}
.reviewcontent img
{
margin-right:5px;
float:left;
}
.reviewperson img
{
margin-right:5px;
float:left;
}
#bottom
{
clear:right;
padding:5px;
background-color:#A2B964;
text-align:center;
}
#mainright
{
width:250px;
float:right;
background-color:#A2B964;
height:1100px;
}
#mainleft
{
width:550px;
float:right;
}
#mainright dl
{
margin:10pt;
font-size:8pt;
font-family:'Arial', sans-serif;
}
#mainright dl dt
{
font-weight:bold;
margin-top:10pt;
}
ul
{
list-style-type:none;
padding-left:0px;
}
#validation
{
position:fixed;
bottom:0px;
right:0px;
opacity:0.5;
}
#validation:hover
{
opacity:1;
}













